---
layout: default
title: Home
photos:
- src: /images/1.jpg
  alt: Rolleiflex - Philadelphia Japanese Garden - 2020
- src: /images/2.jpg
  alt: Rolleiflex - My Backyard - 2020
- src: /images/3.jpg
  alt: Rolleiflex - Fairmount Park, Philadelphia - 2020
- src: /images/4.jpg
  alt: Rolleiflex - Fairmount Park, Philadelphia - 2020
- src: /images/5.jpg
  alt: Rolleiflex - Somewhere in Philadelphia - 2020
- src: /images/6.jpg
  alt: Rolleiflex - Somewhere in Philadelphia - 2020
- src: /images/7.jpg
  alt: Rolleiflex - Somewhere in Philadelphia - 2020
- src: /images/8.jpg
  alt: Rolleiflex - Under Highway in Philadelphia - 2020
- src: /images/9.jpg
  alt: Rolleiflex - Friends in Fairmount Park -2020
---

{% comment %}
  {% assign page = site.posts.first %}
  {% assign content = page.content %}
  {% include post.html %}
{% endcomment %}

<section class="gallery">
  {% for img in page.photos %}
    <img src="{{img.src}}" alt="{{img.alt}}">
  {% endfor %}
</section>